<form [formGroup]="registerForm" (ngSubmit)="regsiter()">

    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="mb-3">
        <!-- <label for="username">Username</label> -->
        <input type="text" class="form-control"
            [class.is-invalid]="registerForm.get('username')?.errors && registerForm.get('username')?.touched"
            formControlName="username" placeholder="Username" />

        <div class="invalid-feedback">
            Please enter a username
        </div>
    </div>

    <div class="mb-3">
        <!-- <label for="password">Password</label> -->
        <input type="password" 
            [class.is-invalid]="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
            class="form-control" formControlName="password" placeholder="Password" />

        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('required')">
            Please enter a password
        </div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('minlength')">
            Password must be at least 3 characters
        </div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('maxlength')">
            Password must be at most 10 characters
        </div>
    </div>


    <div class="mb-3">
        <!-- Note : invalid-feedback css will only work if [class.is-invalid]= true, otherwise it will not show the error text.  -->
        <input type="password" 
            [class.is-invalid]="registerForm.get('confirmpassword')?.errors 
            && registerForm.get('confirmpassword')?.touched || registerForm.errors?.['passwordMisMatchError']"

            class="form-control" formControlName="confirmpassword" placeholder="Confirm Password" />

        <div class="invalid-feedback" *ngIf="registerForm.get('confirmpassword')?.hasError('required')">
            Please enter a confirm password
        </div>

        <div class="invalid-feedback"  *ngIf="registerForm.errors?.['passwordMisMatchError'] && !registerForm.get('confirmpassword')?.hasError('required')">
            Confirm Password & Password is not matching
        </div>

    </div>
    
    <hr>

    <div class="form-group text-center">
        <button class="btn btn-success mr-2" [disabled]="registerForm.invalid" type="submit">Register</button>

        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>

        <!-- <a routerLink="../register" class="btn btn-link">Register</a> -->
    </div>
</form>